[Bb]in
[Dd]ebug*/
obj/
.vs/
ReSharper.*/

packages/
node_modules/
test_results/

#Ignore upgrade logs
**/UpgradeLog*.htm

**/dist/package.json
**/node_modules/
**/.tmp/
webpack.statistics.dev.html
webpack.statistics.prod.html

*.log
*.crunchsolution.cache
*.suo
*.user
*.userprefs
*.jfm
*.vspscc
*.vssscc
*.pfx
*.dbmdl
.tfignore
*.coverage
*.trx
*.pbiviz
*.pbix

*.pubxml
